* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid darkblue;
    border-radius: 2em;
    padding: 3rem;
}

#description {
    margin-top: 1em;
    text-align: center;
}

header {
    border: 2.5px solid gray;
    border-radius: 1em;
    padding: 10px;
}

h1 { 
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#main {
    margin-top: 2.5em;
}

input {
    border: 2px solid gray;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-size: medium;
}

.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4em 1em;
    justify-content: center;
    margin: 1em 5em 0 5em;
}

.second-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4em 1em;
    justify-content: center;
    margin: 1em 5em 0 5em;
    grid-template-areas: 
        "p1"
        "label1"
        "p2"
        "label2";
}

#mail-id {
    text-align: center;
}

#age-id {
    grid-area: p2;
    text-align: center;
    margin-top: 5px;
}

#email {
    display: block;
    margin: auto;
    width: 20em;
}

#number {
    display: block;
    margin: auto;
    width: 5em;
    margin-bottom: 20px;
}

#mail-age {
    display: flex;
    justify-content: space-between;
    margin: 0 5em 0 5em;
}

#dropdown {
    display: block;
    margin: auto;
    width: 300px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: medium;
}

.radio {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-right: 5px;
}

#radio-div {
    margin-top: 10px;
    display: grid;
    justify-content: center;
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 2.5px;
}

#checkbox-div {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 2.5px 20px;
    justify-content: center;
    margin-top: 10px;
}

#textarea {
    display: block;
    margin: auto;
    width: 440px;
    resize: none;
}

#submit {
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 15px !important; 
    display: block;
    margin: auto;
    width: auto;
    padding: 5px 10px 5px 10px;
    background-color: blue;
    color: white;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0 5px #999;
}

#submit:hover {
    background-color: rgb(5, 5, 97);
}

#submit:active {
    background-color: rgb(5, 5, 97);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

@media (max-width: 540px) {
    body {
        width: 80%;
        padding: 0 0 30px 0;
        border: 3px solid darkblue;
        border-radius: 1em;
    }

    .first-section {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p1"
        "label1"
        "p2"
        "label2";
    }

    #nick-id, #age-id {
        grid-area: p2;
    }

    #main {
        margin-top: 15px;
    }

    #names, #mail-age {
        display: grid;
        justify-content: center;
    }

    #textarea {
        width: 300px;
    }

    #checkbox-div {
        grid-gap: 0 0;
        grid-template-columns: 200px;
    }

    .checkbox {
        margin-top: 5px;
    }
}

@media (max-width: 912px) {
    body {
        width: 80%;
        padding: 2rem;
    }
}
