* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Luxurious Roman', cursive;
}

#header {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 5em;
}

#company-name {
    font-size: xx-large; 
    font-family: 'Stick No Bills', sans-serif;
    display: flex;
    align-items: center;
}

#header-img {
    color: black;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

#leftside {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-link {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: large;
    padding-right: 5px;
}

.nav-link:hover {
    color: rgb(233, 181, 10);
}

#main {
    width: 100%;
    margin: auto;
}

h1 {
    padding-bottom: 15px;
    font-size: xx-large;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

#trail {
    padding: 10em 0 5em 0;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

#child-trail {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#trail-btn {
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-family: monospace;
    text-decoration: none;
}

#trail-btn:hover {
    animation-name: colorchange2;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

#trail-img {
    width: 500px;
    height: auto;
    border-radius: 1rem;
    border: white solid 1px;
}

#trail-text {
    width: 50%;
    margin-bottom: 3em;
}

#form {
    display: block;
    text-align: center;
    background: rgb(242, 191, 23);
    margin: 5em 0 5em 0;
    padding-bottom: 1rem;
}

#email-h {
    padding: 1em;
    font-family: monospace;
    font-size: x-large;
}

#email {
    border: solid 1px gray;
    padding: 0.5em;
    width: 15%;
    border-radius: 2px;
}

#submit {
    display: block;
    margin: auto;
    background-color: white;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    border: 0.5px solid gray; 
    font-weight: bold;
    cursor: pointer;
    font-family: monospace;
}

#submit:hover {
    animation-name: colorchange1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

ul {
    list-style-type: none;
}

i {
    color: rgb(233, 181, 10);
}

h4 {
    font-size: x-large;
}

#logo-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#heading-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5em;
}

h5 {
    display: inline;
    padding-left: 5em;
    font-size: x-large;
}

#info {
    width: 60%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    height: 20rem;
}

#video {
    display: block;
    margin: auto;
    width: 60%;
    border: none;
}

#pricing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 5em 0 5em 0;
}

.price-div {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

.price-li {
    padding: 10px;
}

.price-h {
    background-color: rgb(209, 205, 205);
    padding: 10px;
}

.price-btn {
    padding: 5px 10px 5px 10px;
    font-family: monospace;
    margin: 10px;
    background-color: rgb(242, 191, 23);
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.bold {
    font-weight: bolder;
}

#footer {
    background: black;
    color: white;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

#footer-ul {
    display: flex;
    justify-content: center;
}

.footer-li {
    color: white;
    text-decoration: none;
}

.pad {
    padding: 10px;
}

@keyframes colorchange1 {
    0% {
        background-color: white;
    }
    100% {
        background-color: tomato;
        color: white;
        border: 1px solid white;
    }
}

@keyframes colorchange2 {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

@media (max-width: 1100px) {
    #header {
        flex-direction: column;
    }

    #header-img {
        display: none;
    }

    #nav-bar {
        justify-content: center;
        margin: auto;
    }
    
    #trail {
        flex-direction: column;
        align-items: center;
    }
    
    #trail-img {
        width: 70%;
        height: auto;
    }

    #child-trail, #trail-text {
        width: 90%;
    }

    #trail-btn {
        margin-bottom: 3em;
    }

    #info {
        width: 95%;
        height: auto;
    }

    #email {
        width: 50%;
    }

    #video {
        width: 95%;
    }

    .info-li {
        padding-bottom: 3rem;
    }
}